img {
  width:50%;
  display: block;
  margin: auto;
}

button {
  margin-top: 20px;
  margin-bottom: 20px;
}

.bottomLinks {
  text-align: center;
}

.cartButton {
  text-align: center;
  font-size: 20pt;
  button {
    width:200px;
    height:100px;
    background-color: red;
    border-radius: 10px;
    border: none;
  }
}

.jumbotron {
  text-align: center;
  h1{
    color: red;
    font-family: 'UnifrakturCook', cursive;
    font-size: 80pt;
  }
}
.titleAndButton {
text-align: center;
}


.navbar {
  margin-bottom: -20px;
}
.heading {
  text-align: center;
  margin-bottom: 50px;
  font-family: 'Germania One', cursive;
  h2 {
    font-size: 30pt;
  }

}
