<h2>About Fog Palace</h2>

<p>Fog Palace is the creative outlet for artist and metalhead pals, Dave Fogg and Garrett Price. FP offers limited edition cassette tapes and tshirts.</p>

{{#link-to 'contact'}}Contact Fog Palace{{/link-to}}
