
{{#each model as |item|}}
  {{admin-item-tile item=item}}
  <div class="deleteButton">
    <button {{action 'delete' item}}>Delete !!</button>
  </div>
{{/each}}
<div class="newItemButton">
  {{new-item saveItem="saveItem"}}
</div>
