<div class="jumbotron">
  <h1>fogpalace.com</h1>
  <div class="heading">
    <h2>Fog Palace limited edition cassette tapes and clothing</h2>
  </div>
</div>


<div class="container">

  {{#each model as |item|}}
    {{item-tile item=item}}
  {{/each}}
  <div class="cartButton">
    <button {{action 'goToCart' item}}>Shopping Cart</button>
  </div>
</div>
